{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-8">
      <h1>Что такое performance review</h1>
      <p>
        Мы проводим в MyBook ежеквартальный Performance Review.<br>
        Это практика, которая помогает сотрудникам совершенствоваться, повышать свою мотивацию,
        решать организационные проблемы, т.е. делать лучше себя и своё окружение.
      <p>

      <p>
        Мы будем обмениваться обратной связью с коллегами, чтобы отметить индивидуальные успехи и обозначить
        возможные направления для улучшения. Конструктивная обратная связь помогает решить типичную проблему
        многих коллективов: когда часто критикуют, хвалят редко, судят о работе, не разобравшись.
        Правильный feedback стимулирует к тому, чтобы хорошая работа была оценена по достоинству,
        а слабые стороны не остались без внимания.
      </p>

      <p>
        Performance review успешно работает в Facebook, Google, Avito, Badoo, а мы будем тестировать его эффективность у
        нас.
        Для этого нам нужна твоя помощь в виде конструктивного фидбэка.
      </p>

      <p>
        <a href="{{ CONTENT_DESCRIPTION_PAGE }}">Подробнее</a>
      </p>

      <p>
        <a href="mailto:{{ SUPPORT_EMAIL }}">Поддержка</a>
      </p>
    </div>
  </div>
{% endblock content %}
