{% load static i18n hijack_tags %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Performance Review{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'hijack/hijack-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    {% endblock %}
  </head>

  <body>{% hijack_notification %}
    <div class="m-b-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.user.is_authenticated %}
          <a class="navbar-brand" href="{% url 'users:detail' last_interval request.user.email  %}">Perf {{ last_interval }}</a>
        {% else %}
          Perf {{ last_interval }}
        {% endif %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:detail' last_interval request.user.email  %}">Профиль</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">О практике</a>
              </li>
              {% if CONTENT_FREE_FEEDBACK_URL %}
              <li>
                <a class="nav-link" href="{{ CONTENT_FREE_FEEDBACK_URL }}">Фидбэк любому сотруднику 🗣️</a>
              </li>
              {% endif %}

              {% if request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
              </li>
              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %} [{{ request.user }}]</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    </div>

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}
      <br>
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block javascript %}
      <!-- Required by Bootstrap v4 beta -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>

